/debug
/release
/lib
*.tar.bz2
*.log
*.bin
*.pcapng
/example/build
/example/*.elf
/example/*.nacp
/example/*.nro
/libntfs-3g/*.tgz
/libntfs-3g/src
/libntfs-3g/pkg
/libntfs-3g/*.tar.*
/liblwext4/*.zip
/liblwext4/src
/liblwext4/pkg
/liblwext4/*.tar.*
